#!/usr/bin/env ruby

compile '/style/extra/*' do
  # Nothing
end

compile '/style/*' do
  filter :sass, { :style => :compressed }
end

compile '*' do
  filter :redcarpet
  filter :colorize_syntax, :coderay => { :line_numbers => :table }
  layout 'default'
end

route '/style/extra/*' do
  # Nothing
end

route '/style/main' do
  '/style.css'
end

route '*' do
  item.identifier + 'index.html'
end

layout '*', :haml, {:ugly => true}