!!! 5
%html{lang: 'en'}
  %head
    %title= @item[:title]
    %meta{ charset: 'utf-8'}/
    %meta{ name: 'language', content: 'en' }/
    %meta{ name: 'created', content: Time.now }/
    %meta{ name: 'author', content: 'Kurtis Rainbolt-Greene' }/
    %meta{ name: 'description', content: "A Book On How To Program With The Ruby Language" }/
    %meta{ name: 'keywords', content: "ruby, programming, hacking, learning, tutorial, book, free" }/
    %meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=edge,chrome=1' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }/
    %link{ href: '/image/icon/favicon.png', rel: 'shortcut icon', type: 'image/png' }/
    %link{ href: '/style.css', rel: 'stylesheet', type: 'text/css' }
    %script{ src: '/script.js', rel: 'javascript', type: 'text/javascript' }

  %body
    %header
      %h1= @item[:title]
      %hr
      %h5 By #{@item[:author]}

    %article
      = yield

    %footer
      %p Copyright 2011 <a href="mailto:kurtisrainboltgreene@gmail.com">Kurtis Rainbolt-Greene</a>

    %script{ type: 'text/javascript' }
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA--1']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
