%p#copyright
    %a{ href: '/book/copyright', title: "You can read the silly copyright information here. Frankly I don't see the need, though. It's all free! Every little bit of it!" } Copyright.

%p#contact
    E-Mail:
    %a{ href: 'mailto:kurtisrainboltgreene@gmail.com' } kurtisrainboltgreene@gmail.com
