- if @view[:title] == "LEARN YOU THE RUBY FOR AWESOME POWER"
    %h1#title
        LEARN
        %br/
        YOU THE
        %br/
        RUBY FOR
        %br/
        AWESOME
        %br/
        POWER
    %img#logo{ src: '/image/soviet-duck.png', title: 'IN SOVIET RUBY, DUCK TYPES YOU!' }
