%h1 Oh Noes!
%p
    Hey person! The web browser you're using, Internet Explorer, isn't nice to web pages. It won't view websites very well! It wastest a lot of people's <a href="http://www.iestolemylife.com/">time and energy</a>, and you don't want to do that do you? You should be using one of these:
%p
    %img{src: '/img/chrome.png', style: 'float:left', width: '128px', height: '128px'}
    %h2 Chrome
    %p
        A fast and minimalist web browser with impressive focus on viewing the web! Download it <a href="http://www.google.com/chrome">for <strong>free</strong> here</a>.
%p
    %img{src: '/img/firefox.png', style: 'float:left', width: '128px', height: '128px'}
    %h2 Firefox
    %p 
        A popular open source web browser with an amazing list of addons and extensions! Snag it <a href="http://www.mozilla.com/firefox">for free here</a>.
%p
    %img{src: '/img/opera.png', style: 'float:left', width: '128px', height: '128px'}
    %h2 Opera
    %p 
        A new and bold browser with amazing UI, great controls, and hundreds of ways to customize! Grab it <a href="http://www.opera.com/browser/download/">for free here</a>.
