%h1 Oh Noes!
%p Hey person, you're using a web browser that isn't cool :(. It won't view my websites very well! You should be using one of these:


#chrome
    %img{src: '/image/browser/chrome.png', style: 'float:left', width: '128px', height: '128px'}
    %h2 Chrome 
    %p One of the fastest and simplist web browsers out there! It's amazingly simple! Download it <a href="http://www.google.com/chrome">for free here</a>.


#firefox
    %img{src: '/image/browser/firefox.png', style: 'float:left', width: '128px', height: '128px'}
    %h2 Firefox
    %p A popular open source web browser with an amazing list of addons and extensions! Snag it <a href="http://www.mozilla.com/firefox">for free here</a>.


#opera
    %img{src: '/image/browser/opera.png', style: 'float:left', width: '128px', height: '128px'}
    %h2 Opera
    %p A new and bold browser with amazing UI, great controls, and hundreds of ways to customize! Grab it <a href="http://www.opera.com/browser/download/">for free here</a>.
