%h1
    %a{ href: '/book/table-of-contents', title: "Come on, you know you want to!" } Let's Get Started!
    

%p
    Learn You The Ruby is more than a book. It's an epic, a ballad, and a soap opera 
    all combine into one miraculous journey. Learn You The Ruby is the tale of one 
    man, his dog, and the Ruby programming language. Together you journey with him 
    through the forgotten wastelands of history and time itself! Don't miss a single
    exciting episode!
