!!! 5
%html{ lang: 'en', class: 'no-js'}
    %head
        %meta{ charset: 'utf-8'}/
        %title= @view[:title]
        /[if IE] <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        %meta{ name: 'author', content: @view[:author] }/
        %meta{ name: 'description', content: @view[:description] }/
        %meta{ name: 'keywords', content: @view[:tags] }/
        %meta{ name: 'created', content: @view[:created] }/
        %meta{ name: 'viewport', content: 'width=device-width; initial-scale=1.0; maximum-scale=1.0;' }/
        %meta{ name: 'distribution', content: 'global' }/
        %meta{ name: 'robots', content: 'follow, all' }/
        %meta{ name: 'language', content: 'en' }/
        %meta{ name: 'googlebot', content: 'index, follow' }/
        %meta{ name: 'revisit-after', content: '2 days' }/
        %link{ href: '/img/favicon.png', rel: 'shortcut icon', type: 'image/png' }/
        %link{ href: '/img/favicon.png', rel: 'apple-touch-icon', type: 'image/png' }/
        %link{ href: '/styles.css', rel: 'stylesheet', type: 'text/css' }/
        /%link{ href: '/mobile.css', rel: 'stylesheet', type: 'text/css', media: 'handheld' }/
        %link{ href: 'http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif', rel: 'stylesheet', type: 'text/css' }/
        %script{ src: '/js/modernizr-1.5.min.js', type: 'application/javascript' }
    %body
        #header
        #container
            = markdown :"#{page}"
        #footer
            %p#copyright
                %a{ href: '/book/copyright', title: "You can read the silly copyright information here. Frankly I don't see the need, though. It's all free! Every little bit of it!" } Copyright.
        %script{ src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', type: 'application/javascript' }
        %script{ type: 'text/javascript' }
            if ((navigator.appName == "Microsoft Internet Explorer") && !(window.location.pathname == "/browser/"))  { window.location.pathname = "/browser/" }
        %script{ type: 'text/javascript' }
            var _gaq = [['_setAccount', 'UA-XXXXXX-X'], ['_trackPageview']];
            (function(d, t) {
            var g = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
            g.async = true;
            g.src = '//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g, s);
            })(document, 'script');
